body {
    background-color: #d8d8d8;
    cursor: url('../images/mouse.png'), auto !important;
    font-family: 'Kodchasan', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #ffff;
    font-size: 1.8em;
    color: #3b383d;
    font-weight: bold;
}

.utib-source {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        margin-top: 50px;
        width: 80vw;
        height: 500px;
        object-fit: contain;
    }
}

.mt-200 {
    margin-top: 200px !important;
}

.btn {
    cursor: url('../images/mouse-pointer.png'), pointer !important;
}

/* begin:: Nhấn nút mượt mà */
.btn-1 {
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 2em auto 0;
    padding: 20px;
    border: 0;
    border-radius: 8px;
    color: ghostwhite;
    font-size: 1.2em;
    background: #86c0de;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
    box-shadow: 0 6px 0 hsl(200deg 37% 50%), 0 12px 0 rgba(0, 0, 0, .2);
    transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
    cursor: url('../images/mouse-pointer.png'), pointer !important;
}

.btn-1:hover {
    color: white;
    background: hsl(200deg 62% 75%);
    box-shadow: 0 3px 0 hsl(200deg 47% 60%), 0 6px 0 rgba(0, 0, 0, .2);
    transform: translateY(3px);
}

.btn-1:active {
    color: gainsboro;
    background: hsl(200deg 47% 60%);
    box-shadow: 0 0 0 hsl(200deg 37% 50%), 0 0 0 rgba(0, 0, 0, .2);
    transform: translateY(6px);
    transition-duration: .1s;
}

/* end:: Nhấn nút mượt mà */

/* begin:: Nhấn nút đàn hồi */
.btn-2 {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 200px;
    margin: 2em auto 0;
    padding: 25px;
    border: 0;
    border-radius: 16px;
    color: ghostwhite;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Kodchasan', sans-serif;
    letter-spacing: .06em;
    background: #86c0de;
    transition: color .3s, background .3s;
}

.btn-2:hover {
    color: white;
    background: hsl(200deg 62% 75%);
}

.btn-2.is-poyo {
    animation: poyo .6s;
}

.btn-2:active {
    color: gainsboro;
    background: hsl(200deg 47% 60%);
    transition-duration: .1s;
    animation: push .6s;
}

@keyframes poyo {
    10% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1.04);
    }

    80% {
        transform: scale(.98);
    }
}

@keyframes push {
    10% {
        transform: scale(.8);
    }

    40% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(.96);
    }

    80% {
        transform: scale(1.02);
    }
}

/* end:: Nhấn nút đàn hồi */

/* begin:: Hiển thị chi tiết */
.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    max-width: 800px;
    margin: 1em auto;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.details li {
    flex-basis: calc(33.333% - 8px);
    position: relative;
    max-width: 250px;
    border-radius: 8px;
    cursor: url('../images/mouse-pointer.png'), pointer !important;
}

@media (max-width: 720px) {
    .details li {
        flex-basis: calc(50% - 6px);
    }

    .details li:nth-child(n+3) {
        margin-top: 12px;
    }
}

@media (max-width: 520px) {
    .details {
        flex-direction: column;
        align-items: center;
    }

    .details li {
        flex-basis: auto;
    }

    .details li:nth-child(n+2) {
        margin-top: 12px;
    }
}

.details .image {
    margin: 0;
}

.details .image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    vertical-align: middle;
}

.details .text {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 16px 24px;
    border-radius: 8px;
    color: white;
    text-align: left;
    background: rgba(220, 102, 136, .9);
}

.details .text dt {
    justify-self: flex-start;
    align-self: flex-end;
    font-weight: bold;
}

.details .text dd {
    margin: .5em 0 0;
    font-size: .8em;
    line-break: strict;
    overflow-wrap: break-word;
}

.details .text .price {
    justify-self: flex-end;
}

/* begin:: Hiển thị chi tiết - Trượt dưới lên trên */
.type1 {
    overflow: hidden;
}

.type1 .text {
    transition: opacity .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.type1:not(:hover) .text {
    opacity: 0;
    transform: translateY(100%);
}

/* end:: Hiển thị chi tiết - Trượt dưới lên trên */

/* begin:: Hiển thị chi tiết - Lật thẻ */
.type2 {
    perspective: 1000px;
}

.type2 .image,
.type2 .text {
    transition: opacity .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.type2:hover .image {
    transform: rotateX(180deg);
}

.type2 .text {
    background: #dc6688;
}

.type2:not(:hover) .text {
    transform: rotateX(-180deg);
}

/* end:: Hiển thị chi tiết - Lật thẻ */

/* begin:: Hiển thị chi tiết - Đóng/ mở màn */
.type3 {
    z-index: 0;
    /* memo: for Safari */
    overflow: hidden;
}

.type3 .text {
    background: transparent;
}

.type3 .text dt,
.type3 .text dd {
    position: relative;
    z-index: 1;
    transition: opacity .3s .3s;
}

.type3:not(:hover) .text dt,
.type3:not(:hover) .text dd {
    opacity: 0;
    transition-delay: 0s;
}

.type3 .text::before,
.type3 .text::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(220, 102, 136, .9);
    transition: opacity .3s, transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.type3 .text::before {
    left: 0;
}

.type3 .text::after {
    right: 0;
}

.type3:not(:hover) .text::before,
.type3:not(:hover) .text::after {
    opacity: 0;
    transition-duration: .6s;
}

.type3:not(:hover) .text::before {
    transform: translateX(-175px) skew(-30deg);
}

.type3:not(:hover) .text::after {
    transform: translateX(275px) skew(-30deg);
}
/* begin:: Hiển thị chi tiết - Đóng/ mở màn */

/* end:: Hiển thị chi tiết */